In [ ]:
import numpy as np
import pyspark.pandas as ps

/workspaces/spark-playground/.venv/lib/python3.12/site-packages/pyspark/pandas/__init__.py:43: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [9]:
spark = (
    SparkSession
    .builder
    .config("spark.sql.ansi.enabled", "false")
    .appName("notebook")
    .getOrCreate()
)

In [11]:
s = ps.Series([1, 3, 5, np.nan, 6, 8])
type(s)

pyspark.pandas.series.Series

In [12]:
psdf = ps.DataFrame(
    {'a': [1, 2, 3, 4, 5, 6],
     'b': [100, 200, 300, 400, 500, 600],
     'c': ["one", "two", "three", "four", "five", "six"]},
    index=[10, 20, 30, 40, 50, 60])

In [13]:
psdf

    a    b      c
10  1  100    one
20  2  200    two
30  3  300  three
40  4  400   four
50  5  500   five
60  6  600    six

In [15]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
pdf = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
pdf

                   A         B         C         D
2013-01-01  0.914094 -1.524476 -1.971679 -0.467583
2013-01-02 -1.736282  0.410872 -0.205891  1.414052
2013-01-03 -1.457663 -0.910038  0.931061 -0.378604
2013-01-04 -0.067653  0.037228  1.705700  1.096338
2013-01-05  0.315395 -0.217531  0.903436 -0.366346
2013-01-06  0.350229  1.071757  1.742564 -0.009035

In [17]:
psdf = ps.from_pandas(pdf)

In [18]:
type(psdf)

pyspark.pandas.frame.DataFrame

In [19]:
psdf

                   A         B         C         D
2013-01-01  0.914094 -1.524476 -1.971679 -0.467583
2013-01-02 -1.736282  0.410872 -0.205891  1.414052
2013-01-03 -1.457663 -0.910038  0.931061 -0.378604
2013-01-04 -0.067653  0.037228  1.705700  1.096338
2013-01-05  0.315395 -0.217531  0.903436 -0.366346
2013-01-06  0.350229  1.071757  1.742564 -0.009035